{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime",
    [
      "module-resolver", {
      "root": ["."]
    }
    ]
  ]
}
